/* Base styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #024091;
    color: white;
    padding: 10px 20px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    background-color: rgb(9, 20, 83);
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.project-card {
    width: 300px;
    padding: 20px;
    border: 2px solid #000;
    margin: 10px;
    background-color: #008000;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.project-card image {
    position: relative;
}

.project-card image img{
    width: 100%;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .projects {
        grid-template-columns: 1fr;
    }

    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 5px 0;
    }
}

footer {
    background-color: #71aaff;
    color: white;
    text-align: center;
    padding: 10px 20px;

}



